# Data & Datasets

# Virtual Environment & Cache
.venv/
__pycache__/
*.cache
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Runs & Models
runs/
yolov8n.pt
yolov8*.pt
best.pt

# IDEs & System
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

report.md